<mat-card [ngClass]="{'top-rated': course.topRated == true, 'course': true}" appCourseBorder creationDate="{{course.creationDate}}">
    <div class="course-description">
        <mat-card-title class="course-title">
            <span *ngIf="course.title">{{ course.title | uppercase }} <mat-icon>star</mat-icon></span>
            <div class="date">
                <span class="duration">
                    <mat-icon>clock</mat-icon> {{ course.duration | duration }}
                </span>
                <span class="updated">
                    <mat-icon>calendar_today</mat-icon> {{course.creationDate | date }}
                </span>
            </div>
        </mat-card-title>
        <p>
            {{ course.description }}
        </p>
    </div>
    <div class="course-actions">
        <button class="normal" mat-button>
            <mat-icon>edit</mat-icon> Edit
        </button>
        <button class="normal" mat-button>
            <mat-icon (click)="onDeleteClicked(course.id)">delete</mat-icon> Delete
        </button>
    </div>
</mat-card>
