.course
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 30px

.course-title.mat-card-title
    display: flex
    align-items: center
    justify-content: space-between
    .mat-icon
        visibility: hidden

.date span
    font-size: 13px
    color: darkgrey
    margin-left: 15px

.date .mat-icon
    font-size: 13px

.course-description
    max-width: 66%

.course-actions
    max-width: 33%

.top-rated
    background-color: #3BC2C6
    color: white
    .course-actions button
        background-color: white
        color: #3BC2C6
    .date span
        color: antiquewhite
    .course-title .mat-icon
        visibility: visible

.fresh
    border: 5px solid #A3C644

.upcoming
    border: 5px solid #1A9CB2