<mat-card class="course">
    <div class="course-description">
        <mat-card-title class="course-title">
            <span>{{ course.title }}</span>
            <div class="date">
                <span class="duration">
                    <mat-icon aria-hidden="false">clock</mat-icon> {{ course.duration }}
                </span>
                <span class="updated">
                    <mat-icon aria-hidden="false">calendar_today</mat-icon> {{course.date }}
                </span>
            </div>
        </mat-card-title>
        <p>
            {{ course.description }}
        </p>
    </div>
    <div class="course-actions">
        <button class="normal" mat-button>
            <mat-icon aria-hidden="false">edit</mat-icon> Edit
        </button>
        <button class="normal" mat-button>
            <mat-icon aria-hidden="false" (click)="onDeleteClicked(course.id)">delete</mat-icon> Delete
        </button>
    </div>
</mat-card>
