<div class="search-form-container">
    <form method="get" action="#" class="search-form">
        <mat-form-field class="search-input">
            <input matInput placeholder="Find Courses">
        </mat-form-field>
        <button class="success" mat-button>
            <mat-icon aria-hidden="false">search</mat-icon> Search
        </button>
    </form>
</div>
<div class="add-course">
    <button class="normal" mat-button>
        <mat-icon aria-hidden="false">add</mat-icon> Add Course
    </button>
</div>
