<app-search-section [courses]="courses" (filterCourses)="coursesFilterHandler($event)"></app-search-section>

<div class="add-course">
    <button class="normal" mat-button>
        <mat-icon aria-hidden="false">add</mat-icon> Add Course
    </button>
</div>
<ng-container *ngIf="courses?.length; else noData">
    <app-courses-list-item *ngFor="let course of courses" [course]="course" (deleteCourse)="courseDeleteHandler($event)"></app-courses-list-item>
    <mat-card class="load-more">
        <mat-card-title>
            <a href="#">Load more</a>
        </mat-card-title>
    </mat-card>
</ng-container>

<ng-template #noData>
    <mat-card class="load-more">
        <mat-card-title>
            <a href="#">No data, feel free to add new courses!</a>
        </mat-card-title>
    </mat-card>
</ng-template>
